# Ignore .vscode folder
.vscode/

# Ignore all .cpp files
*.cpp

#Ignore outside also
*.class

# Ignore all .class files also
/*.class 


# If you want to ignore all .git folders in all subdirectories (not typically necessary)
.git/
